	/* 轮播图 */
  .page{
    background: #F7F7F7;    
    max-width: 420px;
    margin: 0 auto;
  }

  .page-block{
    background: #FFFFFF;
    marign-top: 20rpx;
  }
  .page .swiper{
		width: 750rpx;
		height: 440rpx;
	}
	.page .swiper image{
		width: 750rpx;
		height: 440rpx;
		display: inline-block;
	}
  .page-block .title{
    padding: 10rpx 20rpx 16rpx;
    font-weight: bold;
    font-size: 16px;
    background: #F7F7F7;
    margin-bottom: 10rpx;
  }
  .tips{
    text-align: center;
    background: yellow;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
  }
  /* 热门电影 */
  .hot{
    display: flex;
    flex-direction: column;
  }
  .title  image{
    width: 30rpx;
    height: 30rpx;
    display: inline-block;
  }
  .title text{
    margin-left: 20rpx;
  }

  .scroll{
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
  }
  .scroll .item{
    display: inline-block;
    margin: 20rpx 20rpx 30rpx;
}
.item .poster{
  width: 200rpx;
  height: 270rpx;
}
.item .movieName{
  width: 200rpx;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 热门预告 */
.hotMovie .title{
 font-size: 16px;
 font-weight: bold;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10rpx 20rpx 20rpx;
  justify-content: space-between;
  margin-top: 10rpx;
}
.movies video{
  width: 340rpx;
  height: 200rpx;
  margin-top: 10rpx;
}

/* 猜你喜欢 */
.guess-u-like{
  background: #F7F7F7;
}
.guessLikeMovies{
  display: flex;
  flex-direction: column;
}
.likeMovie{
  display: flex;
  flex-direction: row;
  padding:20rpx;
  background: #ffffff;
  justify-content: space-between;
  margin-bottom: 10rpx;
}
.likeMovie image{
  width: 180rpx;
  height: 240rpx;
}
.likeMovie .movieDetail{
  width: 78%;
  white-space: pre-wrap;
  line-height: 1;
}
.likeMovie .movieDetail .movieTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.likeMovie .movieDetail text{
  font-size: 14px;
  color: #808080;
  display: inline-block;
  line-height: 1.2;
}
.likeMovie .movieTitle{
  font-size: 16px;
  line-height: 1.5;
}
.likeMovie .praise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  border-left: dashed;
  border-left-color: #dbdbdb;
}
.likeMovie .praise image{
  width: 32rpx;
  height: 32rpx;
  align-self: center;
}
.likeMovie .praise view{
  font-size: 28rpx;
  align-self: center;
  color: orange;
}
.praise .animation{
  opacity: 0;
  color: orange;
}











