.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
.picture{
  margin-bottom: 100rpx;
  margin-top: 200rpx;
  align-self: center;
  display: flex;
}
.picture image{
  width: 160rpx;
  height: 160rpx;
  margin: auto;
}
.username,
.password{
  display: flex;
  flex-direction: row;
  width: 70vw;
  border-bottom: 1px solid #999999;
  margin-top: 40rpx;
  height: 60rpx;
}
.username .text,
.password .text{
  font-size: 16px;
  align-self: center;
  color: rgba(153,153,153);
  width: 100rpx;
}
.username input,
.password input{
  align-self: center;
  font-size: 16px;
}
.username.active,
.password.active{
  border-bottom: 1px solid red;
}
  
.tipsWrapper{
 margin-top: 30rpx;
 height: 30rpx;
}
.tips{
  height: 30rpx;
  line-height: 30rpx;
  color: red;
  font-size: 15px;
  /* border: 1px solid red; */
}
.login{
  width: 80%;
  margin-top: 80rpx;
}

/* 第三方授权登录 */
.auth{
  display: flex;
  margin-top: 80rpx;
}
image{
  width: 80rpx;
  height: 80rpx;
  margin: 32rpx;
}

