.page{
  width: 100%;
}
.header{
  background: url(http://122.152.205.72:88/group1/M00/00/03/CpoxxFwu_1OAYFAIAAAzO_Q1tPg693.png);
  height: 40%;
  display: flex;
  flex-direction: row;
  padding: 0 40rpx;
  align-items: center;
}
.picture{
  width: 120rpx;
  height:120rpx;
  border-radius: 50%;
}
.picture image{
  width: 120rpx;
  height:120rpx;
}
button{
  background: transparent;
  margin-left: 20rpx;
  font-weight: bold;
}
button:after{
  border: 1px solid transparent !important;
}