a{
  box-sizing: border-box;
}
.page{
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  padding-bottom: 80px;
}
  .statusBar{
    /* #ifdef APP-PLUS */
    display: block;
    position: fixed;
    height: var(--status-bar-height);
    width: 100%;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    /* #endif */
  }
  .header{
    /* #ifdef APP-PLUS */
    margin-top: var(--status-bar-height);
    /* #endif */
    height: 160rpx;
    width: 100vw;
    background: #FFFFFF;
    z-index: 200;
    position: fixed;
    }
.title{
  font-weight: bold;
  position: fixed;
  /* height: 80rpx; */
  width: 100%;
  text-align: center;
  line-height: 80rpx;
  }
/* 搜索栏 */
.search{
  height: 50rpx;
  width: 100vw;
}
.searchWrapper{
  display: flex;
  flex-direction: row;
  margin:0 20rpx 20rpx 20rpx;
  width: 95vw;
  top:200;
  margin-top: 80rpx;
  margin-right: 20rpx;
  border-radius: 20px;
  overflow: hidden;
}
.searchIconWrapper{
  display: flex;
  align-items: center;
  background: #eaeaea82;
  padding: 10rpx 0;
}
.searchIconWrapper image{
  width: 40rpx;
  height: 40rpx;
  margin: 0rpx 10rpx;
}
.inputWrapper{
  flex: 1;
  background: #eaeaea82;
  font-size: 14px;
  padding: 10rpx 0;
}
input{
}

/* 搜索结果 */
.main{
  padding: 20rpx;
  display: flex;
  margin-top: 180rpx;
  flex-direction: column;
  /* #ifdef APP-PLUS */
  /* margin-top: 140rpx; */
  /* #endif */
}

.movie{
  margin-bottom: 40rpx;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20rpx;
  border-radius: 10rpx;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.15);
}

.movieName{
  margin-top: 6rpx;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20rpx;
/*  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}
.detail{
  margin-bottom: 20rpx;
}
.detail view{
  color: gray;
  font-size: 16px;
}

.detail view text{
  color: black;
  margin-left: 16rpx;
}
  
.selectLink{
  
}
.playLink{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: auto;
  margin: 0 -12rpx;
}
.playLinkItem{
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 12rpx;
  padding: 10rpx 20rpx;
  border-radius: 4px;
  border: 1px solid grey;
}
a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}