.page{
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  padding-bottom: 80px;
}
  .statusBar{
    /* #ifdef APP-PLUS */
    display: block;
    position: fixed;
    height: var(--status-bar-height);
    width: 100%;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    /* #endif */
  }
  .header{
    /* #ifdef APP-PLUS */
    margin-top: var(--status-bar-height);
    /* #endif */
    }
.title{
  font-weight: bold;
  position: fixed;
  z-index: 200;
  /* height: 80rpx; */
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  line-height: 80rpx;
  }
/* 搜索栏 */
.searchWrapper{
  display: flex;
  flex-direction: row;
  padding:0 20rpx 20rpx 20rpx;
  position: fixed;
  z-index: 200;
  width: 95vw;
  top:200;
  margin-top: 80rpx;
  padding-right: 20rpx;
  background: #FFFFFF;
  
}
.searchIconWrapper{
  display: flex;
  align-items: center;
  background: #EAEAEA;
  padding: 10rpx 0;
}
.searchIconWrapper image{
  width: 40rpx;
  height: 40rpx;
  margin: 0rpx 10rpx;
}
.inputWrapper{
  flex: 1;
  background: #EAEAEA;
  font-size: 14px;
  padding: 10rpx 0;
}
input{
}

/* 电影列表 */
.main{
  padding: 40rpx;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150rpx;
  /* #ifdef APP-PLUS */
  /* margin-top: 140rpx; */
  /* #endif */
}

.movie{
  margin-bottom: 20rpx;
  display: flex;
  flex-direction:column;
  border: 1px solid red;
}
.poster{
  width: 200rpx;
  height: 270rpx;
}
.movieName{
  margin-top: 6rpx;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200rpx;
}