a {
  box-sizing: border-box;
}
*{
  font-size: 14px;
}
.page {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100rpx;
  width: 100vw;
  background: #ffd655;
  z-index: 200;
  position: fixed;
  box-shadow:0px 15px 10px -15px #ccc;
}


/* 搜索栏 */
.search {
  height: 50rpx;
  width: 100vw;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  margin:20rpx 40rpx;
  /* width: 90%; */
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ffffff;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  padding: 10rpx 0;
}

.searchIconWrapper image {
  width: 40rpx;
  height: 40rpx;
  margin: 0rpx 10rpx;
}

.inputWrapper {
  flex: 1;
  font-size: 14px;
  padding: 0px 0;
  align-self: center;
}

input {}

/* 搜索结果 */
.main {
  padding: 20rpx;
  display: flex;
  margin-top: 100rpx;
  flex-direction: column;
}

.movie {
  margin-bottom: 40rpx;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20rpx;
  border-radius: 10rpx;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
}

.movieName {
  margin-top: 6rpx;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20rpx;
  /*  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

/* 视频信息 */
.detail {
  padding-bottom: 20rpx;
  border-bottom: 1px solid #EAEAEA;
}

.detail view {
  color: #848484;
  font-size: 14px;
}

.detail view text {
  color: black;
  margin-left: 16rpx;
}

.movieInfo {}

.toggleButton {
  display: inline-flex;
  align-items: center;
}

.toggleShowInfo {
  color: #ffd655 !important;
}

.text {
  margin-right: 30rpx;
}

.toggleShowInfoIcon {
  width: 40rpx;
  height: 40rpx;
  margin-left: 6rpx;
}

.toggleShowInfoIcon.down {
  background: url(../../static/icos/down.png) no-repeat 0 0;
  background-size: cover;
}

.toggleShowInfoIcon.up {
  background: url(../../static/icos/up.png) no-repeat 0 0;
  background-size: cover;
}

/* 播放列表 */
.selectLink {
  margin: 10rpx 0 20rpx;
  font-size: 14px;
}

.playLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: auto;
  margin: 0 -12rpx;
}

.playLinkItem {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 12rpx;
  padding: 10rpx 20rpx;
  border-radius: 4px;
  border: 1px solid grey;
}

a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

/* 未搜索时展示的数据 */

.defaultMovie .title{
  font-weight: bold;
  line-height: 1.8;
  font-size: 16px;
}
.defaultMovie .searchHistory{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20rpx;
}
.defaultMovie .searchTerms{
  background: #f3f3f3;
  padding: 6rpx 12rpx;
  margin: 10rpx;
  border-radius: 4px;
  font-size: 14px;
  min-width: 60rpx;
  text-align: center;
}

.recommendMovie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.recommendMovie .movie{
  flex: 1;
  width: 33%;
  margin: 10rpx;
  padding: 0;
  display: flex;
  flex-direction:column;
  align-items: center; 
  background: transparent;
  box-shadow: none;
}
.recommendMovie .movieCover{
  width: 200rpx;
  height: 270rpx;
}
.recommendMovie .movieName{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200rpx;
}
.recommendMovie .text{
}


